<html lang='en'>
  <body>
    <p>Hello {{firstName}} {{lastName}},</p>
    <p>You have been invited to Industry-Academic Collaboration Platform</p>
    <br />
    <p>Here are your credentials for logging onto the platform</p>
    <p>Email:{{email}}</p>
    <p>Password:{{password}}</p>
    <br />
    <p>Visit the platform using this link {{url}}</p>
    <p>Best regards,</p>
    <p>Team 5</p>
  </body>
</html>